@charset "utf-8";

/* 全画面 */

.errormessages {
	color: #F00;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

li {
	list-style: none; /* リストの点を消す*/
}

/* ログイン画面 */

.login {
	font-size: 15px;
	text-align: center;
    position: relative;
    background: #fff0cd;
    margin: 50px auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 350px;
}

.login:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.login p {
    margin: 0;
    padding: 0;
}

/* ホーム画面 */

.main-contents {
	font-size: 20px;
	text-align: center;
}

.header h2{
	background-color: #FFFFCC;
	margin: 20px auto;
}

.header-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: 0 fixed;
}

.header-list li {
	display: inline-block;
	padding: 0;
	margin: 0;
	float: center;
}

.header-list li a{
	display: inline-block;
	border: 2px solid #666;
	background-color: #fcc;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 124px;
	margin: 1px;
	text-align: center;
	font-size: 14px;
}

.header-list li a:hover {
	background-color: #2d56be;
	color: #fff;
}

.header-list li a:visited {
	color: #333;
}

.narrow-down {
	clear: left;
	position: 0 fixed;
}

.button1 {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 20px;
}

.button1:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}

.messages {
    position: relative;
    background: #fff0cd;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 900px;
    word-wrap: break-word;
}

.messages:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.messages p {
    margin: 0;
    padding: 0;
}

.comments {
	padding: 10px 10px;
    margin: 20px 100px 20px 100px;
    font-weight: bold;
    background: #FFF;
    border: solid 2px #000000;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
}

body {
	background-color: #FFFFCC;
	margin: 0;
	text-align: center;
}

/* 新規投稿画面 */

.form-area {
	font-size: 15px;
	text-align: center;
    position: relative;
    background: #fff0cd;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 350px;
}

.form-area:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.form-area p {
    margin: 0;
    padding: 0;
}

/* 新規登録画面 */

.header h3 {
	background-color: #FFFFCC;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
}

.signup {
	font-size: 15px;
	text-align: center;
    position: relative;
    background: #fff0cd;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 350px;

}
.signup:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.signup p {
    margin: 0;
    padding: 0;
}

/* 管理画面 */

.users {
	font-size: 15px;
	text-align: left;
    position: relative;
    background: #fff0cd;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 350px;
}

.users:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.users p {
    margin: 0;
    padding: 0;
}

.login-now {
	color: #000080;
}

/* ユーザー編集画面 */

.header h3 {
	background-color: #FFFFCC;
	margin: auto;
	margin-bottom: 20px;
    width: 100%;
}

.users {
	font-size: 15px;
	text-align: center;
    position: relative;
    background: #fff0cd;
    margin: auto;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width: 350px;
}

.users:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.users p {
    margin: 0;
    padding: 0;
}

/* */

